/* ---- RESET ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}



/* ---- SCROLLBAR ----- */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #535353;
}



/* ---- COMMON ---- */
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 33%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 33%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 33%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#141414",GradientType=1);

    /* Old Gradient just in case */
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 35%, rgba(67,67,67,1) 100%); */
}

.default-container {
    width: 95%;
    margin: 0 auto;
}



/* HEADER */
header {
    padding: 20px 0;
    background-color: transparent;
}

header .default-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}

/* Searchbar */
.search {
    position: relative;
}

.search label {
    visibility: hidden;
}

.search input{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-radius: 999px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

.search-icon {
    position: absolute;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon i {
    font-size: 15px;
    color: black;
    cursor: unset;
}
/* END HEADER */



/* MAIN */
main {
    flex-grow: 1;
    background-color: transparent;
    overflow-y: auto;
}

/* Empty page */
.empty-container {
    margin-top: 200px;
    text-align: center;
    color: white;
}

.landing-text {
    font-size: 50px;
}

.boolean-logo {
    margin-top: 20px;
}

.small-text {
    font-size: 25px;
}

.boolean-logo img {
    margin: 0 5px;
    width: 30px;
    display: inline-block;
    vertical-align: text-bottom;
}

.except {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    bottom: 7px;
    right: 20px;
}

/* Page with results */
.search-text {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.search-results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.search-results ul {
    margin-right: 10px;
    margin-bottom: 40px;
    width: 342px;
    height: 513px;
}

.show-info-ul {
    overflow: hidden;
}

.show-poster {
    position: relative;
    height: 513px;
}

.show-poster img {
    height: 100%;
}

.search-results ul .genre-ul {
    width: 100%;
    height: max-content;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.search-results ul .genre-ul li {
    display: inline-block;
    margin-right: 5px;
    /* margin-bottom: 8px; */
}

/* .search-results ul .genre-ul li:first-child {
    margin-left: 0;
} */

.genres {
    font-size: 14px;
}

.infos {
    display: none;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;

    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: 400;
}

.infos li {
    margin-bottom: 10px;
}

.info-text {
    font-weight: 700;
}

.media-type {
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
}

.original-audio {
    margin-right: 3px;
}

.star {
    color: #464646;
}

.color-yellow {
    color: white;
}

.show-info-ul:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    z-index: 1;
}

.show-info-ul:hover .infos{
    display: block;
}

/* inputs' rules are here on the bottom to avoid 
override problems */
input:focus {
    outline: none;
    border: 2px solid #db202c;
    border-radius: 999px;
}